/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Korinna';
}

a{
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.mgt-100{
	margin-top: 100px;
}

.mgb-32{
	margin-bottom: 32px;
}

.mgb-50{
	margin-bottom: 50px;
}

.title-section{
	font-size: 36px;
	text-transform: uppercase;
	color:#3F4042;
	font-weight: 400;
}

.container{
	max-width: 1600px;
}

.iframe-banner{
	height: calc(100vh - 126px);
}

/* section background index */
.background-index{
	position: absolute;
	height: 932px;
	z-index: -1;
}

.background-index img{
	width: 100%;
	height: 100%;
}


/* Địa điểm */
.place-img-slide img{
	width: 100%;
	height: 413px;
	object-fit: cover;	
	border: 1px solid #fff;
	border-radius: 10px;
}

.place-img-slide .img-slide-item{
	margin: 0 15px;
}

#place-detail{
	margin-top: 45px;
}

#place-detail .place-content .place-title{
	text-transform: uppercase;
	font-size: 36px;
	color: #3F4042;
	margin-bottom:12px;
}

#place-detail .place-content .place-address{
	font-size: 28px;
	color: #3F4042;
	margin-bottom: 31px;
}

.place-content{
	margin: auto
}

.button-content{
	display: flex;
}

.button-content button{
	width: 162px;
	height: 45px;
	background-color: transparent;
	border: 2px solid #188181;
	margin-right: 17px;
	color: #3F4042;
	font-size: 22px;
	border-radius:10px ;
}

.button-content i{
	color: #126B66;
	margin-right: 12px;
}

.title-information{
	color: #3F4042;
	font-size: 36px;
	text-transform: uppercase;
}

.icon-information{
	display: flex;
	justify-content: space-between;
}

.icon-information p{
	color: #3F4042;
	font-size: 28px;
	
}

.icon-information i{
	color:#126B66;
}

.content-information{
	font-size: 22px;
	line-height: 38px;
}

.map-iframe iframe{
	width: 100%;
	height: 830px;
}

#place-around-section .place-around-box-address{
	display: flex;
	justify-content: space-between;
}

.place-around-box-address .place-around-address p{
	font-size: 28px
}

.place-around-box-address .place-around-address{
	margin: auto 0;
}

.place-around-slide-item .place-around-img img{
	width: 100%;
	border-radius: 20px;
	
}

.place-around-slide .place-around-slide-item{
	margin: 0 10px;
}

.place-around-slide-item .place-around-img{
	margin-bottom: 30px;
}

.place-around-slide-item .place-around-title{
	margin-bottom: 14px
}

.place-around-slide-item .place-around-title p{
	font-size: 36px;
}

.place-around-slide-item .place-around-size{
	font-size: 22px;
	background-color: #8BBEB5;	
	margin: auto 0;
	padding: 10px;
	border-radius: 10px;
}

/* Đánh giá */
#place-comment .point-progress {
	height: 40px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: #D9D9D9;
}

#place-comment .point-progress-bar{
	border-radius: 10px;
	background-color: #188181;
}


#place-comment .point-right-star i.checked{
	color: #188181;
}

#place-comment .point-right-star i{
	font-size: 72px;
	color: #D9D9D9;
}

#place-comment .box-point-right{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#place-comment .box-point-right .point-right-number p{
	font-size: 150px;
}

#place-comment .box-point-right .point-right-star{
	margin-bottom: 29px;
}

#place-comment .box-point-right .point-right-post p{
	font-size: 32px;
}

#place-comment .box-write-comment{
	/* display: flex; */
	/* justify-content: center; */
	display: flex;
	
	

}

#place-comment .box-write-comment .write-comment{
	display: flex;
	justify-content: center;
	
	
}

#place-comment .box-write-comment .write-comment .button-write-comment{
	border: 1px solid #188181;
	height: 107px;
	width: 704px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius:30px;
	background-color: transparent;
}

#place-comment .box-write-comment .write-comment .button-write-comment .button-icon-comment{
	margin-right: 16px;
}

#place-comment .box-write-comment .write-comment .button-write-comment .button-icon-comment:hover{

}

#place-comment .box-write-comment .write-comment .button-write-comment .button-text-comment{
	font-size: 32px;
}

/* Bài viết đánh giá */

#place-post-comment .title-post-comment{
	font-size: 36px;
	margin-bottom:45px ;
	margin-top: 100px;
}

#place-post-comment .information-people{
	display: flex;
}

#place-post-comment .information-people-star .point-right-star i.checked{
	color: #188181;

}


#place-post-comment .information-people-box{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-left: 13px;;
}
#place-post-comment .information-people-star .point-right-star i{
	color: #D9D9D9;
	font-size: 35px;
}

#place-post-comment .information-people-star{
	display: flex;
    align-items: end;
}

#place-post-comment .post-comment-content{
	display: flex;
	justify-content: space-between;
	margin-bottom: 36px;
}

#place-post-comment .post-comment-content .information-people-name{
	font-size: 45px;
}

#place-post-comment .post-comment-content .information-people-hour{
	font-size: 32px;
}


#place-post-comment .post-comment-content-text{
	font-size: 36px;
}

#place-post-comment .information-people-img img{
	width: 86px;
	height: 86px;
	border-radius:50% ;

}

#place-post-comment .post-comment{
	margin-bottom: 62px;
}


/* pagination */

#pagination-page .pagination{
	justify-content: center;
}

#pagination-page .pagination li a{
	border: none;
	color: #000;
}

#pagination-page .pagination li a.active{
	border: 1px solid #188181;
	border-radius: 10px;
	background-color: transparent;
}


/* category detail */
.mgt-340{
	margin-top: 340px;
}
#place-category .category-title{
	text-align: center;
	margin-bottom: 45px;
}



#place-category .category-title h1{
	font-size: 36px;
	text-transform: uppercase;
	color: #3F4042;
	margin-bottom: 16px;
}

#place-category .category-title p{
	font-size: 28px;
	color: #3F4042;
}

#place-category .place-category-item-img{
	position: relative;
	height: 455px;
}

#place-category .place-category-item .place-category-item-img img{
	width: 100%;
	border-radius: 10px;
	height: 100%;
	object-fit: cover;

}

#place-category .place-category-item .place-category-item-title p{
	color: #fff;
	font-size: 36px;
} 

#place-category .place-category-item .place-category-item-title{
	position: absolute;
	bottom: 9px;
	right: 20px;
}



